body{
    font-family: Verdana;
    margin: 0px;
}
/*navbar*/
header{
    height: 66px;
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}


header .logo{
    
    height: inherit;
    margin-left: 2em;

}

header .logo-text{
    margin: 9px;
}

header .logo-text span{
    color: rgb(31, 89, 31);
    font-family: Georgia, Times;
}

header ul{
    background-color: rgb(102, 102, 240);
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-right: 10px;
}
.showing{
    max-height: 100em;
}

header ul li{
    float: left;
    position: relative;
}

header ul li a{
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}


header ul li ul {
    position: absolute;
    top: 66px;
    right: 0px; 
    display: none;  
}




header .menu-toggle{
    display: none;
    
}
   
header *{
    color: aliceblue;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(102, 102, 240);
    width: 30%;
    border-radius: 5px;
}
.logo:hover{
    background-color: rgb(88, 88, 249);
    width: 30%;
   
}
/*logo image*/
.image{
    height: 70%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/*header content after navbar*/

.content{
    background-color: black;
   color: white;
   width: 95%;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   height: 170px;
   margin-top: 2px;
   margin-left: 30px;
}

.text-content{
    align-items: center;
    text-align: center;
    padding-top: 10px;
}