body{
    font-family: Verdana;
    margin: 0px;
}

/*navbar*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: system-ui;
}
nav{
    background: navy;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0px 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/*logo image*/
.logo-img{
    height: 70%;
    text-align: center;
    justify-content: center;
    align-items: center;
}


    /*Auth Page*/
.auth-content{
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    background: rgb(64, 63, 63);
    color: white;
    border-radius: 5px;
}

.auth-content form div{
    margin-bottom: 10px;
}
.auth-content .form-title{
    text-align: center;
}

.text-input {
    padding: .7rem 1rem;
    display: block;
    width: 90%;
    border-radius: 5px;
    outline: none;
    color: gray;
    line-height: 1.5rem;
    font-family: 'Courier New';
    border: 1px solid rgb(224, 223, 223);
    font-size: 1.2em;
}
.btn{
    padding: 11px 35px;
    border-radius: 7px;
    font-size: 1.5rem;
    border: none;
    margin-left: 5px;
}

.auth-content p a{
    color: black;
    font-size: 1.1rem;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }   .auth-content{
        width: 65%;
       }
       .auth-content form{
        width: 100%;
       }
       .text-input {
        padding: .7rem 1rem;
        display: block;
        width: 90%;
        font-size: 1em;
    }
    .btn{
        padding: 7px 25px;
        border-radius: 7px;
        font-size: 1.5rem;
        border: none;
        margin-left: 5px;
    }
}

@media (max-width: 858px){
   .checkbtn{
    display: block;
   }

   ul{
    position: fixed;
    width: 30%;
    z-index: 3;
    height: 100%;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
   }
   nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
   }
   nav ul li a{
    font-size: 20px;
   }
   a:hover,a.active{
    background: none;
    color: navy;
   }
   #check:checked ~ ul{
    left: 0;
   }
   .auth-content{
    width: 80%;
   }
   .auth-content form{
    width: 100%;
   }
   .text-input {
    padding: .7rem 1rem;
    display: block;
    width: 90%;
    font-size: 1em;
}
.btn{
    padding: 7px 25px;
    border-radius: 7px;
    font-size: 1.5rem;
    border: none;
    margin-left: 5px;
}
}
